body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#Loot {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}

#headerLoot {
  height: 25%;
  width: 100%; 
  display: flex;
  align-items: center;
  padding-top: 1%;
  padding-left: 2%; 
  border-top: 0.7px;
  border-bottom: 0.5px;
  border-left: 0;
  border-right: 0;
  border-style: solid;
  background: linear-gradient(to right, black, rgb(85, 55, 16));
  border-image: linear-gradient(to right, hotpink, rgb(85, 55, 16)) 1;
}

#headerLootRight {
  height: 100%;
  width: 25%;
  font-weight: bolder;
  font-size: 2em;
}

#mainLoot {
  flex: 1;
  width: 100%;
  overflow-y: auto;
  text-align: center;
  padding: 20px;
}

#header_photos {
  width: 75%;
  display: flex;
  height: 80%;
}

.nameOfGun {
  font-size: 60%;
}

#one_photo {
  margin-right: 0.7%;
  margin-left: 0.7%;
  border: 1px solid black;
  color: hotpink;
}

#one_photo:hover {
  margin-right: 0.7%;
  margin-left: 0.7%;
  border: 1px solid hotpink;
  background-color: grey;
  color: purple;
}

.lootBoxContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.lootBox {
  flex: 1 1 30%;
  margin: 10px;
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
  transition: transform 0.2s;
}

.lootBox img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

.lootBox p {
  margin-top: 10px;
  font-size: 1.2em;
  font-weight: bold;
}

.lootBox:hover {
  transform: scale(1.05);
}

#sort {
  text-align: center;
  margin-bottom: 20px;
}

#sort button {
  background-color: rgba(154, 99, 27, 0.7); 
  color: black; 
  border: 1px solid black; 
  padding: 15px 30px; 
  margin: 10px; 
  font-weight: bolder;
  font-size: 1.2em; 
  border-radius: 5px; 
  cursor: pointer; 
  transition: background-color 0.3s, box-shadow 0.3s; 
}

#sort button:hover {
  background-color: rgba(85, 55, 16, 0.9); 
  box-shadow: 0 0 10px rgba(85, 55, 16, 0.5); 
  border: 1px solid black;
}

#sort hr {
  border: 0;
  height: 1px;
  background: linear-gradient(to right, black, rgb(85, 55, 16)); 
  margin-top: 20px;
}
