#btnNav {
  background-color: inherit;
  height: 10vh;
  width: 10vh;
  border: 0px;
  color: black;
  margin: 2vh;
}

.icons_nav {
  width: 9vh;
  height: 9vh;
}

.items_nav {
  color: black;
}

.navbar {
  a:visited {
    color: black;
  }
  .dropdown-menu {
    background-color: rgba(252, 168, 89, 1);
    background-image: radial-gradient(circle, rgba(252, 168, 89, 1) 0%, rgba(41, 53, 86, 1) 92%);
    border: 2px solid hsl(34deg 78% 27%);
    height: auto;
    padding: 1vh;
  }
  .dropdown-item {
    //background-color: inherit;
    font-size: 150%;
    font-weight: bolder;
    margin-top: 3vh;
    border: 2px solid black;
  }
  .dropdown-item:hover {
    box-shadow: 0 0 20px 10px hsl(34deg 78% 27%);
    background-color: rgba(252, 168, 89, 1);
    background-image: radial-gradient(circle, rgba(252, 168, 89, 1) 0%, rgba(41, 53, 86, 1) 92%);
  }
  .dropdown-toggle::after {
    display: none;
  }
}