.collapsible .content {
  //padding: 6px;
  //width: 10vh;
  background-color: #eeeeee;
  display: flex;
  justify-content: flex-end;
}
.collapsible .header {
  background-color: #dddddd;
  //padding: 6px;
  //cursor: pointer;
}

.icons_nav {
  font-size: 4.2rem;
  text-align: right;
}

.content_nav {
  font-size: 150%;
  font-weight: bolder;
  border: 2px solid black;

}

.items_nav {
  margin: 3vh;
  border: 1px solid black;

}

.items_nav2 {
  text-decoration: none;
  color: black;
  padding: 1vh;
}

.items_nav:hover {
  background-color: grey;
  border: 1px solid lightblue;
}

.nav {
  display: flex;
  justify-content: flex-end;
}

li{
  list-style: none;
}