#openBox {
    display: flex;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    font-family: 'Arial', sans-serif;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 100%;

    #box {
        text-align: center;
        width: 100%;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        background: radial-gradient(circle at center, rgb(227, 133, 39), rgba(0, 0, 0, 0.8) 60%);
        p {
            font-size: 18px;
            color: whitesmoke;
            margin-bottom: 5px;
        }

        img {
            max-width: 200px;
            border-radius: 20px;
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
            margin-bottom: 10px;
        }

        #btn_open {
            background-color: orange;
            font-size: 2vh;
            border: 3px solid black;
            border-radius: 20px;
            width: 10vh;
            &:hover {
                background-color: #7c2a22;
            }
        }
    }

    #underBox {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        border: 2px solid black;
        padding: 1vh;
        background-color: rgb(11, 9, 9);
        margin-bottom: 15vh;

        .row {
            display: flex;
            justify-content: center;
        }

        .bron {
            text-align: center;
            flex: 1;
            max-width: 150px;
            border: 1px solid lightblue;

            img {
                width: 70%;
                border-radius: 5px;
                box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
            }

            p {
                font-size: 14px;
                color: white;
                text-shadow: 2px 2px 4px rgba(94, 201, 189, 0.5);
                margin: 0;
            }
        }
    }
}

#animation {
    width: 100%;
    overflow: hidden;
    margin: 20px 0;
    position: relative;
    display: flex;
    justify-content: center;

    .animation-inner {
        display: flex;
        flex-wrap: nowrap;
    }

    img {
        width: 100px;
        height: auto;
        margin-top: 1vh;
        margin-bottom: 1vh;
    }
}

.one_photo_box {
    border: 1px solid whitesmoke;
    color: whitesmoke;
    margin: 1vh;
    padding: 0.5vh;
}

.special {
    border: 3px solid purple;
    color: whitesmoke;
    margin: 1vh;
    padding: 0.5vh;
}

.data_box {
    font-weight: bolder;
}


@media (max-width: 768px) {
    #openBox {
        margin-top: 10px;
        border-radius: 5px;
    }

    #box p {
        font-size: 16px;
    }

    #box img {
        max-width: 150px;
        border-radius: 15px;
    }

    #btn_open {
        font-size: 1.5vh;
        width: 8vh;
    }

    #underBox {
        padding: 0.5vh;
        gap: 10px;
    }

    .bron img {
        width: 60%;
        border-radius: 3px;
    }

    .bron p {
        font-size: 12px;
    }

    #animation img {
        width: 80px;
    }

    .one_photo_box,
    .special {
        margin: 0.5vh;
        padding: 0.3vh;
    }
}


